@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Roboto", sans-serif;
}

#root, body {
    min-height: 100vh;
    font-size: 16px;
}

button {
    cursor: pointer;
}

@theme {
    --color-bgColor: #BEC3CE;
    --color-greenCustom: #00993F;
    --color-purpleCustom: #3F416E;
    --color-orangeCustom: #FF3B00;

}